::-webkit-scrollbar {
    display: none
}

.musicList {
    height: 100%;
    width: 270px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#songLists>li{
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    user-select: none;
}

#lyric{
    width: 400px;
    margin: 0 auto;
    height: 800px;
    overflow: scroll;
}

#lyric>li{
    font-size: 16px;
    color: gray;
    line-height: 40px;
}

#playBox{
    margin-top: 20px;
}

#coverBox{
    width: 400px;
    height: 400px;
    border-radius: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
    margin-top: 200px;
}

#cover{
    width: 400px;
    height: 400px;
}

.rotate{
    animation: roll 20s linear infinite;
}

@keyframes roll{
    from{
        transform: rotate(0deg);
    }to{
        transform: rotate(360deg);
    }
}